<!DOCTYPE html>
<html>
<head>
  <title>Create a Group | {{defaults.sysName}}</title>
  <link rel="stylesheet" type="text/css" href="css/reset.css">
  <link rel="stylesheet" type="text/css" href="css/defaults.css">
  <link rel="stylesheet" type="text/css" href="css/navbar.css">
</head>
<body>
  <div class="navbar">
    <ul>
      <li><a href="/">{{defaults.sysName}}</a></li>
      <div style="float:right">
        {{^defaults.isAuth}}
          <li><a href="/auth/google">Log In</a></li>
        {{/defaults.isAuth}}
        {{#defaults.isAuth}}
          <li><a href="/logout">Log Out</a></li>
        {{/defaults.isAuth}}
      </div>
    </ul>
  </div>
  <div class="container">
    <h1>Create a Group of Flashcards</h1>
    <p>You'll have a chance to add flashcards to this group once it has been created.</p>
    <form action="/group/create" method="POST">
      <input name="name" type="text" autocomplete="off" placeholder="Group Name"><br>
      <input type="submit">
    </form>
  </div>
</body>
</html>