<!DOCTYPE html>
<html>
<head>
  <title>Search Groups | {{defaults.sysName}}</title>
  <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/css/defaults.css">
  <link rel="stylesheet" type="text/css" href="/css/navbar.css">
</head>
<body>
  <div class="navbar">
    <ul>
      <li><a href="/">{{defaults.sysName}}</a></li>
      <li><a href="/quiz">Quiz</a></li>
      <li><a href="/flashcard/create">Add a Flashcard</a></li>
      <div style="float:right">
        {{^defaults.isAuth}}
          <li><a href="/auth/google">Log In</a></li>
        {{/defaults.isAuth}}
        {{#defaults.isAuth}}
          <li><a href="/logout">Log Out</a></li>
        {{/defaults.isAuth}}
      </div>
    </ul>
  </div>
  <div class="container">
    <h1>Search Groups</h1>
    <form action="/group/search" method="POST">
      <input id="search-bar" name="query" type="text" placeholder="Search groups..." autocomplete="off" size="45">
      <input type="submit" value="Search">
    </form>
    
    {{#hasGroupResults}}
    <table id="groups-table">
      <tr>
        <th>Group</th>
        <th>Creator</th>
      </tr>
      {{#groups}}
        <tr>
          <td><a href="/group/{{uid}}">{{name}}</a></td>
          <td>{{owner_name}}</td>
        </tr>
      {{/groups}}
    </table>
    {{/hasGroupResults}}
    {{^hasGroupResults}}
    <p>No search results.</p>
    {{/hasGroupResults}}
  </div>
</body>
</html>