<!DOCTYPE html>
<html>
<head>
	<title>An Error Occurred! | {{defaults.sysName}}</title>
  <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/css/defaults.css">
  <link rel="stylesheet" type="text/css" href="/css/navbar.css">
</head>
<body>
  <div class="navbar">
    <ul>
      <li><a href="/">{{defaults.sysName}}</a></li>
      <li><a href="/quiz">Quiz</a></li>
      <li><a href="/flashcard/create">Add a Flashcard</a></li>
      <li><a href="/flashcard/scrape">Scrape Flashcard</a></li>
      <li>
        <a class="nav-search-elt">
          <form action="/flashcard/search" method="POST">
            <input id="nav-search-bar" size="30" name="query" type="text" placeholder="Search cards..." autocomplete="off">
            <input type="submit" value="Search">
          </form>
        </a>
      </li>
      <div style="float:right">
        {{^defaults.isAuth}}
          <li><a href="/auth/google">Log In</a></li>
        {{/defaults.isAuth}}
        {{#defaults.isAuth}}
          <li><a href="/logout">Log Out</a></li>
        {{/defaults.isAuth}}
      </div>
    </ul>
  </div>
  <div class="container">
    <h1>An Error Occurred!</h1>
  	{{#defaults.devMode}}
      <pre>{{raw}}</pre>
    {{/defaults.devMode}}

  	<p>{{friendly}}</p>

    {{#link}}
      <a href="{{link}}">{{linkTitle}}</a>
    {{/link}}
  </div>
</body>
</html>