<!DOCTYPE html>
<html>
<head>
  <title>Home | {{defaults.sysName}}</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" 
  integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/css/defaults.css">
  <link rel="stylesheet" type="text/css" href="/css/navbar.css">
  <link rel="stylesheet" type="text/css" href="/css/home.css">
</head>
<body>
  <div class="navbar">
    <ul>
      <li><a href="/">{{defaults.sysName}}</a></li>
      <li><a href="/quiz">Quiz</a></li>
      <div style="float:right">
        {{^defaults.isAuth}}
          <li><a href="/auth/google">Log In</a></li>
        {{/defaults.isAuth}}
        {{#defaults.isAuth}}
          <li><a href="/logout">Log Out</a></li>
        {{/defaults.isAuth}}
      </div>
    </ul>
  </div>
  <div class="container">
    <h1>ASL Flashcard System</h1>
    <a id="quiz" href="/quiz">Quiz!</a>
    <br><br>
    
    <div class="half-container">
      <a href="/group/search">Search Groups</a><br>
      <a href="/group/create">Create a new group</a>
    </div>
    <div class="half-container">
      <a href="/flashcard/search">Search Flashcards</a><br>
      <a href="/flashcard/create">Create a new flashcard</a>
    </div>
  </div>
</body>
</html>