
/*
  defaults.css: Default style to apply to all pages 
*/

@import 'https://fonts.googleapis.com/css?family=PT+Sans';

* {
  font-family: 'PT Sans', sans-serif;
}

.container {
  width: 70%;
  margin: auto;
  margin-bottom: 100px;
}

/* table-related stuffs */
td, th {
  padding: 5px;
}