<!DOCTYPE html>
<html>
<head>
  <title>Create a Flashcard | {{defaults.sysName}}</title>
  <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/css/defaults.css">
  <link rel="stylesheet" type="text/css" href="/css/navbar.css">
  <link rel="stylesheet" type="text/css" href="/css/flashcard/create.css">
</head>
<body>
  <div class="navbar">
    <ul>
      <li><a href="/">{{defaults.sysName}}</a></li>
      <li><a href="/quiz">Quiz</a></li>
      <li><a href="/flashcard/create">Add a Flashcard</a></li>
      <li><a href="/flashcard/scrape">Scrape Flashcard</a></li>
      <div style="float:right">
        {{^defaults.isAuth}}
          <li><a href="/auth/google">Log In</a></li>
        {{/defaults.isAuth}}
        {{#defaults.isAuth}}
          <li><a href="/logout">Log Out</a></li>
        {{/defaults.isAuth}}
      </div>
    </ul>
  </div>
  <div class="container">
    <h1>Create a Flashcard</h1>
    <form action="/flashcard/create" method="POST">
      <input name="gloss" type="text" autocomplete="off" placeholder="Gloss" size="40" value="{{gloss}}"><br>
      <textarea name="definition" type="text" autocomplete="off" placeholder="Definition" rows="6" cols="60">{{definition}}</textarea><br>
      <input name="video" type="text" autocomplete="off" placeholder="Video URL" size="65" value="{{video}}"><br>
      <p>Video URL must link directly to a video file. YouTube links will not work.</p>
      <input type="submit">
    </form>
  </div>
</body>
</html>