<!DOCTYPE html>
<html>
<head>
  <title>Search Flashcards | {{defaults.sysName}}</title>
  <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/css/defaults.css">
  <link rel="stylesheet" type="text/css" href="/css/navbar.css">
  <link rel="stylesheet" type="text/css" href="/css/flashcard/search.css">
</head>
<body>
  <div class="navbar">
    <ul>
      <li><a href="/">{{defaults.sysName}}</a></li>
      <li><a href="/quiz">Quiz</a></li>
      <li><a href="/flashcard/create">Add a Flashcard</a></li>
      <li><a href="/flashcard/scrape">Scrape Flashcard</a></li>
      <div style="float:right">
        {{^defaults.isAuth}}
          <li><a href="/auth/google">Log In</a></li>
        {{/defaults.isAuth}}
        {{#defaults.isAuth}}
          <li><a href="/logout">Log Out</a></li>
        {{/defaults.isAuth}}
      </div>
    </ul>
  </div>
  <div class="container">
    <h1>Search Flashcards</h1>
    <form action="/flashcard/search" method="POST">
      <input id="search-bar" size="65" name="query" type="text" placeholder="Search glosses and definitions..." autocomplete="off" value="{{query}}">
      <input type="submit" value="Search">
    </form>
    
    {{#hasCardResults}}
    <table id="flashcards-table">
      <tr>
        <th>Gloss</th>
        <th>Definition</th>
      </tr>
      {{#flashcards}}
        <tr>
          <td><a href="/flashcard/{{uid}}">{{gloss}}</a></td>
          <td>{{definition}}</td>
        </tr>
      {{/flashcards}}
    </table>
    {{/hasCardResults}}
    {{^hasCardResults}}
    <div id="no-results">
      <p>No search results.</p>
    </div>
    {{/hasCardResults}}
  </div>
</body>
</html>