<!DOCTYPE html>
<html>
<head>
  <title>Flashcard for {{gloss}} | {{defaults.sysName}}</title>
  <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/css/defaults.css">
  <link rel="stylesheet" type="text/css" href="/css/navbar.css">
  <link rel="stylesheet" type="text/css" href="/css/flashcard/view.css">
</head>
<body>
  <div class="navbar">
    <ul>
      <li><a href="/">{{defaults.sysName}}</a></li>
      <li><a href="/quiz">Quiz</a></li>
      <li><a href="/flashcard/create">Add a Flashcard</a></li>
      <div style="float:right">
        {{^defaults.isAuth}}
          <li><a href="/auth/google">Log In</a></li>
        {{/defaults.isAuth}}
        {{#defaults.isAuth}}
          <li><a href="/logout">Log Out</a></li>
        {{/defaults.isAuth}}
      </div>
    </ul>
  </div>
  <div class="container">
    <h1>{{gloss}}</h1>
    <p id="defn">{{definition}}</p>
    <video src="{{{video}}}" controls autoplay></video>
    <br>
    <div id="edit">
      <a href="/flashcard/edit/{{uid}}">Edit this flashcard</a>
    </div>
  </div>
</body>
</html>