
#params-link {
  float: right;
}

.container {
  padding-top: 10px;
}

#feedback {
  margin-top: 10px;
}

#show-answer {
  margin-bottom: 15px;
}

/* for sign-first: */
#question-video {
  margin-bottom: 20px;
}

#answer-gloss {
  margin-bottom: 2px;
  margin-top: 5px;
}

#answer-definition {
  width: 470px;
}

#shortcuts {
  position: fixed;
  top: 150px;
  right: 50px;
  background: rgba(0,0,0,0.2);
  width: 200px;
  padding: 5px;
  border-radius: 5px;
}