<!DOCTYPE html>
<html>
<head>
  <title>Quizzing | {{defaults.sysName}}</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/css/defaults.css">
  <link rel="stylesheet" type="text/css" href="/css/navbar.css">
  <link rel="stylesheet" type="text/css" href="/css/quiz/inprogress.css">
  <script>
    // register whether or not the user was accurate with this card
    function updateAccuracy(correct) {
      const update = {
        cardUID: {{card.uid}},
        correct
      };

      console.log(correct);

      // POST update, move to next card if successful
      $.post("/quiz/updateAccuracy", update)
        .done((data) => {
          if (data.err) {
            alert("An error occurred updating accuracy for this card. Please skip instead. Error: " + data.err);
          } else {
            toNextCard();
          }
        });
    }

    // skip any accuracy updates
    function toNextCard() {
      $('#params-form').submit();
    }

    function toggleAnswer() {
      $('#answer-container').toggle();
      $('#feedback').toggle();

      {{#showGloss}}
      let vid = document.getElementById('answer-video')
      vid.currentTime = 0;
      vid.play();
      {{/showGloss}}
    }

    $(document).ready(() => {
      $('#show-answer').click(() => {
        toggleAnswer();
      });

      // handle keyboard shortcuts
      $(document).on("keydown", function (e) {
        switch (e.which) {
          // spacebar
          case 32:
            // if not already focused on the "show" button (which will toggle automatically)
            if (!$("#show-answer").is(":focus")) {
              toggleAnswer();
            }
            break;

          // 'a' --> right
          case 65:
            $('#right-button').click();
            break;

          // 'f' --> wrong
          case 70:
          $('#wrong-button').click();
            break;

          // 'e' --> skip
          case 69:
          $('#skip').click();
            break;
        }
      });

    });
  </script>
</head>
<body>
  <div class="navbar">
    <ul>
      <li><a href="/">{{defaults.sysName}}</a></li>
      <li><a href="/quiz">Quiz</a></li>
      <li><a href="/flashcard/create">Add a Flashcard</a></li>
      <div style="float:right">
        {{^defaults.isAuth}}
          <li><a href="/auth/google">Log In</a></li>
        {{/defaults.isAuth}}
        {{#defaults.isAuth}}
          <li><a href="/logout">Log Out</a></li>
        {{/defaults.isAuth}}
      </div>
    </ul>
  </div>
  <div class="container">
    <a id="params-link" href="/quiz">Choose different quiz parameters</a><br>

    {{#showGloss}}
      <h3>What's the sign for: {{card.gloss}}</h3>
      <button id="show-answer">Show Answer</button>
      <div id="answer-container" hidden>
        <video id="answer-video" src="{{{card.video}}}" width="550" controls></video>
      </div>
    {{/showGloss}}
    {{^showGloss}}
      <h3>What does this sign mean?</h3>
      <video id="question-video" src="{{{card.video}}}" width="550" controls autoplay></video>
      <br>
      <button id="show-answer">Show Answer</button>
      <div id="answer-container" hidden>
        <p id="answer-gloss"><b>{{card.gloss}}</b></p>
        <p id="answer-definition">{{card.definition}}</p>
      </div>
    {{/showGloss}}

    <form id="params-form" action="/quiz/inprogress" method="POST">
      <div hidden>
        <input name="selection_style" value="{{params.selection_style}}">
        <input name="prompting" value="{{params.prompting}}">
        <input name="which_to_study" value="{{params.which_to_study}}">
        <input name="card_pool" value="{{params.card_pool}}">
      </div>
    </form>

    <div id="feedback" hidden>
      <button id="right-button" onclick="updateAccuracy(true);">I was right</button>
      <button id="wrong-button" onclick="updateAccuracy(false);">I was wrong</button>
      <button id="skip" onclick="toNextCard();">Skip</button>
    </div>
  </div>
</body>
</html>