<!DOCTYPE html>
<html>
<head>
  <title>Quiz Parameters | {{defaults.sysName}}</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="css/reset.css">
  <link rel="stylesheet" type="text/css" href="css/defaults.css">
  <link rel="stylesheet" type="text/css" href="css/navbar.css">

  <script>
    $(document).ready(() => {
      // when "all" checked, include all groups
      $("#check-all").change(() => {
        $("input:checkbox.group-check").prop('checked', $('#check-all').prop('checked'));
      });
    });
  </script>
</head>
<body>
  <div class="navbar">
    <ul>
      <li><a href="/">{{defaults.sysName}}</a></li>
      <div style="float:right">
        {{^defaults.isAuth}}
          <li><a href="/auth/google">Log In</a></li>
        {{/defaults.isAuth}}
        {{#defaults.isAuth}}
          <li><a href="/logout">Log Out</a></li>
        {{/defaults.isAuth}}
      </div>
    </ul>
  </div>
  <div class="container">
    <h1>Choose Quiz Parameters</h1>

    <!-- form for paraemeter selection -->
    <form action="/quiz/start" method="POST">
      <!-- random or accuracy-weighted -->
      <h3>Card Selection Style</h3>
      <input type="radio" id="accuracy-based" name="selection-style" value="accuracy-based" checked>
      <label for="accuracy-based" 
        title="Cards are presented based on how accurately you've responded in the past, 
        and how frequently you've viewed them.">Accuracy-based</label><br>
      <input type="radio" id="random" name="selection-style" value="random">
      <label for="random"
        title="Cards are presented at random, regardless of previous accuracy.">Random</label><br>

      <!-- choosing groups -->
      <h3>Groups to Include in Quiz</h3>
      <p>
        <input type="checkbox" id="check-all"> Include All
      </p>

      {{#hasGroups}}
      <table>
        <tr>
          <th></th>
          <th>Group</th>
          <th>Creator</th>
        </tr>
        {{#groups}}
        <tr>
          <td><input class="group-check" name="include-group-{{uid}}" type="checkbox"></td>
          <td>{{name}}</td>
          <td>{{owner_name}}</td>
        </tr>
        {{/groups}}
      </table>
      {{/hasGroups}}
      {{^hasGroups}}
      <p>There are no groups to choose from.</p>
      {{/hasGroups}}

      <input type="submit" value="Start Quiz">
    </form>
  </div>
</body>
</html>